<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Player 2 wins</title>

    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
	Under Construction <br><br>
<div class="player-win">Player 2 wins</div>
<div class="text-center">
<button onclick="playAgain()" class="play-again btn btn-default">Play Again</button>
</div>

<script>
    function playAgain() {
        window.location.href = "/";
    }
</script>
</body>
